# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored
*.html linguist-detectable=false

app/views/layouts/* linguist-generated
*.html linguist-detectable=false
*.erb linguist-detectable=false

app/views/pages/* linguist-generated
*.html linguist-detectable=false
*.erb linguist-detectable=false

app/views/properties/* linguist-generated
*.html linguist-detectable=false
*.erb linguist-detectable=false

app/views/sessions/* linguist-generated
*.html linguist-detectable=false
*.erb linguist-detectable=false

app/views/users/* linguist-generated
*.html linguist-detectable=false
*.erb linguist-detectable=false