<footer
  class="
    p-4
    bg-white
    rounded-lg
    shadow
    md:flex
    md:items-center
    md:justify-between
    md:p-6
    dark:bg-gray-800
  "
>
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">©
    <%= Date.current.year %>
    <a
      href="https://github.com/marianDdev/ruby_on_rails_rentalz"
      class="hover:underline"
    >Rentalz</a>. All Rights Reserved.
  </span>
  <ul
    class="
      flex
      flex-wrap
      items-center
      mt-3
      text-sm
      text-gray-500
      dark:text-gray-400
      sm:mt-0
    "
  >
  <%= pages_titles.each do |title| %>
    <%= link_to title, define_path(title),  class: "mr-4 hover:underline md:mr-6" %>
  <% end %>  
  </ul>
</footer>
