<section class="bg-white dark:bg-gray-900">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Let <%= @booking.guest.first_name %> why you are declining the booking request</h2>
      <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Provide a detailed reason and maybe he comply bla bla</p>
      <%= render "partials/decline_booking_form", booking: @booking %>
  </div>
</section>