<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4 gap-5">
    <% @bookings.each do |b| %>
        <%= link_to(b) do%>
            <%= render 'partials/booking_card', b: b %>
        <% end %>
    <% end %>
</div>

