<div class="flex items-center justify-center p-12">
  <%= render 'partials/section_title', title: 'Create a booking request' %>
  <div class="mx-auto w-full max-w-[550px]">
    <%= render 'form', booking: @booking%>
  </div>
</div>
