<section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Lorem Ipsum</h2>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vehicula orci et purus sodales, sed feugiat libero semper. Duis fermentum neque a enim aliquam consectetur.</p>
            <p>Quisque tristique augue nulla, id dignissim arcu cursus in. Aenean eros libero, dictum at nunc id, viverra egestas mauris. Praesent tellus mi, bibendum at rhoncus eget, euismod in dolor.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <%= image_tag 'about_us_apartment', class: "w-full rounded-lg" %>
            <%= image_tag 'about_us_house', class: "mt-4 w-full lg:mt-10 rounded-lg" %>
        </div>
    </div>
</section>