<section class="bg-white dark:bg-gray-900">
  <div
    class="
      gap-16
      items-center
      py-8
      px-4
      mx-auto
      max-w-screen-xl
      lg:grid
      lg:grid-cols-2
      lg:py-16
      lg:px-6
    "
  >
    <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
      <h2
        class="
          mb-4
          text-4xl
          tracking-tight
          font-extrabold
          text-gray-900
          dark:text-white
          text-center
        "
      >Guides for getting started</h2>
    </div>
  </div>
</section>

<div
  class="
    p-10
    grid
    grid-cols-1
    sm:grid-cols-1
    md:grid-cols-4
    lg:grid-cols-4
    xl:grid-cols-4
    gap-5
  "
>
  <%= link_to owner_help_path do %>
    <div class="h-104 rounded overflow-hidden shadow-lg">
      <%= image_tag "https://empire-s3-production.bobvila.com/articles/wp-content/uploads/2022/12/iStock-1372309567-how-to-become-an-airbnb-host-woman-welcoming-guest.jpg" %>
      <div class="px-6 py-4">
        <p class="text-gray-700 text-base font-semibold">Getting started as owner</p>
      </div>
    </div>
  <% end %>
  <%= link_to guest_help_path do %>
    <div class="h-104 rounded overflow-hidden shadow-lg">
      <%= image_tag "https://www.travelandleisure.com/thmb/CGvCEwk2MXAxkQyfRZiP01gvHvQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/airbnb-guests-NYECRACKDOWN1121-5697dad132a246548c04be8ea9b3b91c.jpg" %>
      <div class="px-6 py-4">
        <p class="text-gray-700 text-base font-semibold">Getting started as guest</p>
      </div>
    </div>
  <% end %>
</div>
