<section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Thank you for getting in touch! </h2>
            <p class="mb-4">We appreciate you contacting Rentalz. One of our colleagues will get back in touch with you soon! Have a great day!</p>
        </div>
    </div>
</section>