<%= link_to(@property) do %>
  <%= render 'partials/section_title', title: 'Reviews for ' + @property.name + ' from ' + @property.city + ', ' + @property.country %>
<% end %>
<div
  class="
    p-10
    grid
    grid-cols-1
    sm:grid-cols-1
    md:grid-cols-4
    lg:grid-cols-4
    xl:grid-cols-4
    gap-5
  "
>
  <%= render @reviews%>
</div>
